h1 {
  width: 500px;
  margin: auto;
  text-align: center;
}

#heatmapChart {
  /* max-width: 600px;
  max-height: 400px; */
  display: block;
  margin: 10px auto 0 auto;
}

#vendorChoice {
  padding: 20px 0;
  width: 500px;
  margin: auto;
  text-align: center;
}

.title-card {
  width: 700px;
  margin: auto;
  height: 100px;
  padding: 25px;
}

 .heatmap-card {
  width: 700px;
  margin: auto;
  height: 1000px;
  padding: 25px;
}

#overview {
  font-size: medium;
}

.card-header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  font-size: 2rem; 
  font-weight: bold;
  justify-content: center;
}

.header-icon {
  width: 45px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.center {
  flex: 2;
  text-align: center;
}

