/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { 
  height: 100%;
}

body { 
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* overflow: hidden; */
}

::ng-deep .mat-list .mat-list-item {
  height:initial!important;
}

::ng-deep .mat-line {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

/* For responses from agent, which can contain very long lines */
pre {
  overflow-x: auto;
}

.apexcharts-canvas {
  margin: auto;
  translate: -60px;
}

.apexcharts-inner {
  translate: 40px;
}

.apexcharts-yaxis-texts-g {
  translate: 20px;
}

.apexcharts-yaxis-title {
  translate: 100px;
  > text {
    font-size: large;
  }
}

.apexcharts-xaxis {
  translate: 0 10px;
}

.apexcharts-xaxis-title {
  > text {
    font-size: large;
  }
}

html { height: 100%; }

.card-header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 16px;
}

mat-select {
  direction: rtl !important;
  text-align: right !important;
}

.apexcharts-legend {
  translate: 50px;
}

.apexcharts-legend::before {
  content: 'Score Legend';
  display: block;
  font-size: 13px;
  translate: -10px;
}
